{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="textBox">
        <h2>Bienvenidos a <br> <span>ECOLSAM-PRAE</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, repudiandae. Ducimus explicabo provident
             fugiat accusantium, 
            iure, id, eum molestias ab sed sequi cum animi vel! Vel mollitia quod harum sit!</p>
            <a href="{% url 'info' %}">Saber más</a>
    </div>
    <div class="imgBox">
        <img src="{% static 'catalog/imagenes/PLANTA1-removebg-preview.png' %}">
    </div>
</div>
</section>
<section class="content hc">
<div class="def1">
<h2>Huella de carbono</h2>
<h3>¿Qué es?</h3>
<p>
    Disponibles desde productos como labiales en distintos tonos, 
     sombras de gran pigmentación, brochas de alta calidad, bases 
     para cualquier tono de piel y rímel con vitaminas que ayudan 
     al crecimiento de las pestañ Lorem ipsum dolor, sit amet consectetur
     adipisicing elit. Iure, voluptatibus quia? Magni sed modi iste, vitae 
    dolorum quibusdam at perspiciatis repellat beatae recusandae esse in distinctio 
    atque sit, tenetur exercitationem!
</p>
</div>
</section>
<section class="content his">
<div class="def2">
<h3>Historia</h3>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quo voluptas
     est quae voluptate ex? Deserunt voluptatum corporis ex ducimus sequi impedit
      esse nobis. Praesentium neque sit mollitia ducimus doloremque.
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta 
     repellat tempore voluptas necessitatibus delectus provident excepturi.
    Ipsum minima maxime culpa in dolor, perspiciatis tempora quod, tempore, nam ab officia distinctio.
</p>
</div>
</section>
<section class="content imp">
<div class="def3">
<h3>¿Cuál es su importancia?</h3>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quo voluptas
     est quae voluptate ex? Deserunt voluptatum corporis ex ducimus sequi impedit
      esse nobis. Praesentium neque sit mollitia ducimus doloremque.
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta 
     repellat tempore voluptas necessitatibus delectus provident excepturi.
    Ipsum minima maxime culpa in dolor, perspiciatis tempora quod, tempore, nam ab officia distinctio.
</p>
</div>
</section>
<section class="content impl">
<div class="def4">
<h3>Implementación en la vida cotidiana</h3>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quo voluptas
     est quae voluptate ex? Deserunt voluptatum corporis ex ducimus sequi impedit
      esse nobis. Praesentium neque sit mollitia ducimus doloremque.
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta 
     repellat tempore voluptas necessitatibus delectus provident excepturi.
    Ipsum minima maxime culpa in dolor, perspiciatis tempora quod, tempore, nam ab officia distinctio.
</p>
</div>
</section>
{% endblock %}
