{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="content">
    <div class="nob">
    <h2>Productos</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas omnis ratione voluptatem co
        rrupti corporis obcaecati ducimus illum dolores incidunt sequi nisi ipsum fugiat ea provident
        possimus nostrum, vero ex quo!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A possimus, ipsa pariatur quia, non
        reprehenderit odit maxime iusto qui, placeat provident molestias ullam neque quaerat exercitationem 
        ratione deleniti ducimus impedit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error autem voluptates corporis consequatur nobis,
        reprehenderit libero ducimus esse ipsum blanditiis cum hic molestiae sed voluptas at, cumque, dignissimos optio nostrum!
    </p>
    </div>
</section>
<section>
    <div class="about">
    <h2 class="title">Ventas</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quo voluptas
         est quae voluptate ex? Deserunt voluptatum corporis ex ducimus sequi impedit
          esse nobis. Praesentium neque sit mollitia ducimus doloremque.
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta 
         repellat tempore voluptas necessitatibus delectus provident excepturi.
        Ipsum minima maxime culpa in dolor, perspiciatis tempora quod, tempore, nam ab officia distinctio.
    </p>
    </div>
</section>
{% endblock %}