{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>&nbsp</div>
<div>&nbsp</div>
<div>&nbsp</div>
<div class="info">
    <h2 class="heading">Huella de </h2>
    <div>&nbsp</div>
    <div>&nbsp</div>
    <div>&nbsp</div>
    <h2 class="heading">carbono</h2>
    <div class="info-container">
        <div class="info-box">
            <h3>¿Qué es?</h3>
            <p>
                La huella de carbono es un medidor ambiental que refleja la cantidad de gases de efecto
                 invernadero (GEI), en términos de CO2 (dióxido de carbono), producidos por personas u 
                 organizaciones de forma directao indirectamente a causa de las actividades que realizan
                  en su día a día. 
            </p>
        </div>
        <div class="info-box">
            <h3>Historia</h3>
            <p>
                El concepto de huella de carbono se originó en los años 90 como una extensión del término 
                "huella ecológica", propuesto por el profesor William E. Rees y el Dr. Mathis Wackernagel. 
                Esta idea tuvo sus raíces en la empresa British Petroleum (BP), que décadas después popularizó
                el concepto mediante la creación de una calculadora que cuantificaba la cantidad de dióxido 
                de carbono (CO2) producida por las actividades diarias de las personas. La huella de carbono
                se convirtió en una medida importante para concientizar sobre el impacto ambiental individual
                y colectivo en el cambio climático.
            </p>
        </div>
        <div class="info-box">
            <h3>Implementación en la vida cotidiana</h3>
            <p>
                Actividades cotidianas aparentemente inocuas contribuyen a la emisión de gases de efecto 
                invernadero y a la huella de carbono. Por ejemplo, enviar un correo electrónico breve 
                emite aproximadamente 4 gCO2e, equivalente a recorrer 1 km en automóvil por cada 65 correos 
                electrónicos enviados. Las bolsas de plástico de las tiendas tienen una huella de carbono de 10 gCO2e, 
                mientras que las de papel son mucho peores, con 40 gCO2e cada una. El agua embotellada produce emisiones
                1.150 veces mayores que el agua del grifo en la misma cantidad. Además, el tamaño de la pantalla de 
                televisión influye en la huella de carbono, y mirar dos horas de televisión en una pantalla de 
                plasma de 24 pulgadas equivale a recorrer 1,6 km en automóvil.
                Estos datos destacan cómo acciones aparentemente insignificantes pueden contribuir 
                significativamente al cambio climático.
            </p>
        </div>
        <div class="info-box">
            <h3>¿Cuál es su importancia?</h3>
            <p>
                La huella de carbono es fundamental para el medio ambiente ya que indica la sostenibilidad y el 
                impacto de las personas en el cambio climático. Además, nos brinda información sobre la 
                cantidad de Gases de Efecto Invernadero que van a la atmósfera a causa una actividad.  
                Por esta razón cada vez que se calcula la huella de carbono de una persona u organización, 
                se desarrollan estrategias para reducir los focos de emisión identificados. Haciendo de esto
                una oportunidad para crear proyectos de reducción y eficiencia, como, por ejemplo, un plan de
                 eficiencia de energía.                     
            </p>
        </div>
    </div>
</div>
</section>
{% endblock %}
